.products {
  margin: 0;
  margin-bottom: 70px;
  padding: 0;
  display: flex;
  gap: 70px 30px;
  flex-wrap: wrap;
  list-style-type: none;
}

.products--flat {
  gap: 70px;
}

.products__item {
  width: calc(33.33% - 20px);
}

.products--flat .products__item {
  width: 100%;
}